# Dependency directories
node_modules/
npm-debug.log
yarn-error.log

# Optional npm lock file
package-lock.json

# Environment variables
.env

# IDE or editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
